@charset "ISO-8859-1";

.gb-alert {
	background-color: teal;
	width: 450px;
	height: 210px;
	font-family: sans-serif;
	position: absolute;
	top: 33.33%;
	left: 33.33%;
	right: 33.33%;
	bottom: 33.33%;
	border: 1px solid teal;
	z-index: 1;
	border: none;
}

.gb-alert-info {
	width: 100%;
	height: 64%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px black;
	border-bottom: black;
}

.gb-alert-title {
	width: 100%;
	height: 31%;
	box-sizing: border-box;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: xx-large;
	color: rgb(58, 219, 21);
	position: absolute;
	bottom: 146px;
}

.gb-alert-title p {
	margin: 0;
}

.gb-alert-desc {
	font-size: 18px;
	color: aliceblue;
	height: 84px;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	float: left;
	position: absolute;
	top: 55px;
    padding: 0;
    margin: 0;
}

.gb-alert-desc p {
	margin-top: 0;
	margin-bottom: 0rem;
}

.gb-alert-bts {
	width: 100%;
	height: 36%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 1px solid teal;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gb-alert-bts-bt-confirm {
	border: none;
	background-color: teal;
	width: 45px;
	height: 45px;
	border-radius: 30px;
	color: white;
	font-size: 26px;
	margin: 0;
}