.input, select{
    border-radius: 5px !important;
    height: 36px !important;
    font-size: 17px !important;
    padding-left: 10px;
    /* box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.5); */
    box-shadow: 5px 4px 6px 0px rgba(0, 0, 0, 0.5);
}

.atualizar{
    color: yellowgreen;
    margin-left: 10px;
}

.descricao{
    width: 60% !important;
}

.cep, .cpf{
    width: 30% !important;
}

.rua{
    width: 60% !important;
}

.numero, .codigo{
    width: 20% !important;
}

.complemento{
    width: 50% !important
}

.bairro{
    width: 50% !important
}

.municipio{
    width: 50% !important
}

.cidade{
    width: 30% !important
}

.estado{
    width: 30% !important
}

.input-login{
    line-height: 25px;
    margin-bottom: 13px;
    border-radius: 6px;
    box-shadow: 12px 7px 9px 1px rgba(0, 0, 0, 0.5);
}